<!doctype html>
<title>{% block title%}{% endblock %} - Ranger</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
	<h1>Ranger</h1>
	<ul>
		<li><a href="{{ url_for('search')}}">Search</a>
		<li><a href="{{ url_for('page.history')}}">History</a>
	</ul>
</nav>
<section class="content">
	<header>
		{% block header %}{% endblock %}
	</header>
	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div>
	{% endfor %}
	{% block content %}{% endblock %}
</section>